{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<p>
    "Todui" is a simple ToDoList.There is a background why "Todui" was made. <br />
    Todui's developer, I am so forgetable. And I couldn't program well then. So, I made this ToDoList for my own programing skill developed. <br />
</p>
<p>
    Dear, Users<br />
    If you have important things, you should make ToDoList not to forget the things. <br />
    Please use for make your ToDoList by "Todui" and make your life better! <br />
</p>

<p style = "text-align : right">Nekoshark02</p>

{% endblock %}
