{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>ToDui</h1>
    <h3>simple ToDoList</h3>
    <p class="lead">This is a simple ToDoList. Let's write down your "ToDo"!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My ToDo page</h2>
        <p>
           Let's move "My ToDo page" and write down your ivents.
        </p>
        <p><a class="btn btn-default" href="/ToDo">Move My ToDo page</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
