{% extends "layout.html" %}

{% block content %}


<h2>{{ title }}</h2>




<form method="POST" action="{{ url_for('register')}}">
 
    {{ register.csrf_token }}

    {{ register.username.label }}{{ register.username(placeholder = "essential", size =20) }}<br />
    <div>
        {% for error in register.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}<br />
    </div>

    {{ register.password.label }}{{ register.password(placeholder = "essential", size = 20) }}<br />
    <div>
        {% for error in register.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>

    {{ register.submit }}
  
</form>

{% endblock %}